.oneall_social_login_registration,
.oneall_social_login_profile {
	margin-bottom: 10px;
}

.oneall_social_login_registration h2,
.oneall_social_login_profile h2 {
	min-height: 1px;
}

#oneallsociallogin_error_box {
	background-color: #efdfdf;
	color: #B80C14;
	padding: 10px;
	line-height: 16px;
	border: 1px dashed #B80C14;
	display: block
}